<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>iBlogger</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Free HTML Templates" name="keywords">
        <meta content="Free HTML Templates" name="description">
        <!-- Favicon -->
        <link href="/static/img/favicon.png" rel="icon">
        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
              rel="stylesheet">
        <!--kebab css-->
        <link rel="stylesheet" href="/static/css/kebab.css" type="text/css">
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/5e4f86b209.js" crossorigin="anonymous"></script>
        <!-- Libraries Stylesheet -->
        <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css"
              rel="stylesheet"
              type="text/css">
        <!-- Customized Bootstrap Stylesheet -->
        <link href="/static/css/style.css" rel="stylesheet" type="text/css">
        <!--JQUERY-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </head>
    <body>
        <!-- Topbar Start -->
        <div class="container-fluid d-none d-lg-block">
            <div class="row align-items-center bg-dark px-lg-5">
                <div class="col-lg-9">
                    <nav class="navbar navbar-expand-sm bg-dark p-0">
                        <ul class="navbar-nav ml-n2">
                            <li class="nav-item border-right border-secondary">
                                <a class="text-white nav-link text-body-nav small">
                                    <script>document.write(new Date().toDateString());</script>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 text-right d-none d-md-block">
                    <nav class="navbar navbar-expand-sm bg-dark p-0">
                        <ul class="navbar-nav ml-auto mr-n2">
                            <li class="nav-item">
                                <a class="nav-link text-body-nav" href="#"><small class="fab fa-twitter"></small></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-body-nav" href="#"><small class="fab fa-facebook-f"></small></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-body-nav" href="#"><small class="fab fa-linkedin-in"></small></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-body-nav" href="#"><small class="fab fa-instagram"></small></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-body-nav" href="#"><small class="fab fa-google-plus-g"></small></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-body-nav" href="#"><small class="fab fa-youtube"></small></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row align-items-center bg-white py-3 px-lg-5">
                <div class="col-lg-4">
                    <a href="/" class="navbar-brand p-0 d-none d-lg-block">
                        <h1 class="m-0 display-4 text-primary">
                            i<span class="text-secondary font-weight-normal">Blogger</span>
                        </h1>
                    </a>
                </div>
            </div>
        </div>
        <!-- Topbar End -->
        <!-- Navbar Start -->
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2 py-lg-0 px-lg-5">
                <a href="/" class="navbar-brand d-block d-lg-none">
                    <h1 class="m-0 display-4 text-primary">
                        <span class="text-white font-weight-normal">iBlogger</span>
                    </h1>
                </a>
                <button type="button"
                        class="navbar-toggler"
                        data-toggle="collapse"
                        data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-0 px-lg-3"
                     id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="/"
                           class="nav-item nav-link {% block homeactive %}{% endblock homeactive %}">Home</a>
                        <a href="/addpost"
                           class="nav-item nav-link {% block addpostactive %}{% endblock addpostactive %}">Add post</a>
                        <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="#" class="dropdown-item">Menu item 1</a>
                            <a href="#" class="dropdown-item">Menu item 2</a>
                            <a href="#" class="dropdown-item">Menu item 3</a>
                        </div>
                        </div> -->
                        <a href="{% url 'blog:contact' %}"
                           class="nav-item nav-link {% block contactactive %}{% endblock contactactive %}">Contact</a>
                    </div>
                    <div class="input-group ml-auto d-none d-lg-flex"
                         style="width: 100%;
                                max-width: 300px;">
                        <div class="input-group-append">
                            <form class="d-flex"
                                  role="search"
                                  method="GET"
                                  action="{% url 'blog:search' %}">
                                <input class="form-control me-2"
                                       type="search"
                                       placeholder="Search Posts"
                                       aria-label="Search"
                                       name="query">
                                <button class="input-group-text bg-primary text-dark border-0 px-3"
                                        type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Navbar End -->
